PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
GITHUB_CLIENT_ID=Ov23lig8IumPGIgXnJBt
GITHUB_CLIENT_SECRET=362d4208b6accf18f1b270de6ec2c50914220e3c
MONGO_URI=mongodb+srv://riddheshkataria:HNO9b54qxpKsYAd0@cluster0.2ufiuzn.mongodb.net/devcraft?appName=Cluster0
